<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div id="password-container">
        <%- include('../partials/errors') %>
        <form action="/change-password/<%=user._id%>?_method=PUT" method="POST">
            <div class="form-inputs">
                <input type="password" class="inputs" name="oldPass" placeholder="Old Password">
                <input type="password" class="inputs" name="newPass" placeholder="New Password">
                <input type="password" class="inputs" name="confirmNew" placeholder="Confirm New Password">
            </div>
            <div class="profile-btns">
                <button class="change-pwd-btn" type="submit">Change Password</button>
            </div>
        </form>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>