<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="account-info">
        <%- include('../partials/errors') %>
        <header>Edit Profile</header>
        <form action="/edit-profile/<%=user._id%>?_method=PUT" method="POST">
            <div class="profile">
                <input type="text" class="inputs" name="firstName" value="<%=user.firstName%>">
                <input type="text" class="inputs" name="lastName" value="<%=user.lastName%>">
                <input type="email" class="inputs" name="email" value="<%=user.email%>">
            </div>
            <div class="profile-btns">
                <button class="save-btn" type="submit">Save</button>
            </div>
        </form>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>