<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="navbar">
        <div class="dropdown-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="overlay" style="display: none;"></div>
        <div class="dropdown-content">
            <div>
                <span><a href="#">Login</a> / <a href="#">Register</a></span>
            </div>
            <div><a href="#">Home</a></div>
            <div><a href="#">About</a></div>
            <div><a href="#">Request a Quote</a></div>
            <div><a href="#">Write a Review</a></div>
            <div><a href="#">Contact Us</a></div>
        </div>
        <span>Register / Login</span>
    </div>
    <div>
        <header class="ninis-header">Nini's Cakes</header>
        <p class="ninis-desc">Best Custom Cakes in NYC</p>
    </div>

    <div class="cakes">
        <% for( let i = 0; i < cakes.length; i++ ) { %>
            <div class="cake">
                <% let name = cakes[i].name.toLowerCase().split(" ").join("") %>
                <header class="cake-name <%=name%>"><%=cakes[i].name%></header>
                <img class="cake-img <%=name%>" src=<%=cakes[i].image%>>
                <div class="cake-modal <%=name%>-modal" style="display: none;">
                    <div class="cake-overlay <%=name%> <%=name%>-overlay"></div>
                    <div class="cake-modal-content">
                        <header><%=cakes[i].name%></header>
                        <div class="cake-info">
                            <img src=<%=cakes[i].image%>>
                            <div class="cake-info-txt">
                                <div>
                                    <span class="bold-txt">Description:</span>
                                    <span><%=cakes[i].description%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>