<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div id="password-container">
        <%- include('../partials/errors') %>
        <form action="/set-password/<%=user._id%>?_method=PUT" method="POST">
            <div class="form-inputs">
                <input type="password" class="inputs" name="tempPass" placeholder="Temporary Password">
                <input type="password" class="inputs" name="newPass" placeholder="New Password">
                <input type="password" class="inputs" name="confirmNew" placeholder="Confirm New Password">
            </div>
            <button id="pwd-btn" type="submit">Set Password</button>
        </form>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>